.popupBox {
  position: fixed;
  background: #00000050;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
}
  
.box {
  margin-top: 35vh;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 37%;
  max-height: 70vh;
  background: #fff;
  border-radius: 4px;
  border: 1px solid #999;
  overflow: auto;
  align-items: center;
}

.headline {
  width: 100%;
  height: 10%;
  background: rgb(212, 240, 240);
  color: black;
  padding: 10px 0 10px 10px;
}

.inputForm {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-top: 30px;
}

.inputTxt {
  justify-self:center;
  border-radius: 0.7vw;
  padding: 1vw;
  border-color: rgba(255, 255, 255, 0.645);
  font-size: 1vw;
  background-color: rgb(176, 172, 172);
  color: black;
  &:focus {
      outline: none;
  }
}
  
.closeIcon {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 15px;
  background: #ededed;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
  color: red;
}

.sendBtn {
  background-color: #0095ff;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;

  &:hover,:focus {
    background-color: #07c;
  }

  &:focus {
    box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
  }

  &:active {
    background-color: #0064bd;
    box-shadow: none;
  }

}