.container {
    color: white;
    width: 30%;
    overflow:scroll;
}

.repHead {
    font-size: 2vw;
    margin-left: 4.5vw;
}


.reposDiv {
    display: flex;
    flex-direction: column;
    margin-left: 2vw;
}

.repoBtn {
    background-color: rgb(237, 231, 231);
    width: 75%;
    color: black;
    font-size: 1.5vw;
    padding: 1vw;
    border-width: 0.1vw;
    border-radius: 0.3vw;
    margin-bottom: 1.5vw;
    &:hover {
        background: darken(white, 40%);
    }
    &:focus {
        background: darken(white, 40%);
    }
}