.userDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.heading {
    color: #464648;
    font-size: 4vw;
    margin-bottom: 1vw;
}

.nameHeading {
    color: #464648;
    font-size: 3vw;
    margin-bottom: 0.2vw;
}

.avatarDiv {
    width: 6%;
    margin-bottom: 0.7vw;
}

.avatar {
    display: block;
    width: 100%;
    height: auto;
}