.userMenu {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.message {
    color: white;
}

.clickedContainer {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.noClickedContainer {
    align-self: flex-start;
    width: 100vw;
    height: 100vh;
    display: flex; 
}

.backBtn {
    position: absolute;
    right: 45px;
    padding: 0;
    border-radius: 50px;
    font-size: 2vh;
    color: red;
    border-width: 0;
    padding-left: 0.7vh;
    padding-right: 0.7vh;
    &:hover {
        background: darken(white, 15%);
    }
    &:active {
        transform: scale(0.8);
    }
    
}

.newSearch {
    background-color: black;
    color: white;
    font-size: 1vw;
    padding: 0.6vw;
    border-color: white;
    border-width: 0.1vw;
    border-radius: 0.3vw;
    &:hover {
        background: darken(white, 40%);
    }
}