.welcome {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.headingContainer {
    width: 100%;
    background-color: #f6f8fa;
    text-align: center;
    margin-bottom: 10px;
}

.heading {
    color: #464648;
    font-size: 7vw;
}

.inputForm {
    width: 50%;
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10vw;
    
}

.inputTxt {
    flex-basis: 78%;
    border-radius: 0.7vw;
    padding: 1vw;
    border-color: rgba(238, 232, 232, 0.499);
    font-size: 1.5vw;
    background-color: white;
    &:focus {
        outline: none;
    }
}

.searchBtn {
    padding: 0.75em 2em;
    font: 1vw "Orbitron"; 
    color: #fff;
    text-shadow: 0 5px 20px rgba(192, 36, 0, 0.4), 0 2px 2px rgba(192, 36, 0, 0.4);
    background: #94d8f8;
    border: none;
    border-radius: 0.7vw;
    &:hover {
        background: darken(#94d8f8, 10%);
    }
    &:active {
        transform: scale(0.9);
    }
}

.imageDiv {
    width: 20%;
}

.githubImg {
    display: block;
    width: 100%;
    height: auto;
}